/* Styles généraux */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed; 
}

body, h1, h2, h3, h4, h5, h6, p, ul, li {
  margin: 0;
  padding: 0;
}

main {
  background-image: url("images_et_videos/pexels-rfstudio-3621104.jpg"); 
  background-size: cover;
  background-position: center;
  padding: 50px 0;
  min-height: calc(100vh - 2.5rem);
}

main .container {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px; 
}

header, footer {
  background-color: #333;
  color: #fff;
  padding: 10px;
}

h1, h2, h3 {
  color: #333;
}


nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 10px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

.logo img {
  max-width: 100px;
}

main {
  padding: 20px;
}

/* Styles spécifiques pour les événements */
.event {
  margin-bottom: 20px;
}

.email-link {
  font-family: Arial, sans-serif;
  text-decoration: none;
}
/* Styles spécifiques pour les appareils mobiles */
@media screen and (max-width: 600px) {
  header {
    text-align: center;
  }

  .logo {
    text-align: center;
    margin-bottom: 10px;
  }

  nav {
    display: block;
    text-align: center;
  }

  nav ul li {
    display: block;
    margin: 5px 0;
  }
}
